/**BEGINFONTS**/
/** font-size: 25px = 2vh **/
@font-face {
    font-family: 'Manrope';
    src: url('./fonts/Manrope-Medium.eot');
    src: url('./fonts/Manrope-Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Manrope-Medium.woff2') format('woff2'),
    url('./fonts/Manrope-Medium.woff') format('woff'),
    url('./fonts/Manrope-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('./fonts/Manrope-ExtraBold.eot');
    src: url('./fonts/Manrope-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Manrope-ExtraBold.woff2') format('woff2'),
    url('./fonts/Manrope-ExtraBold.woff') format('woff'),
    url('./fonts/Manrope-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('./fonts/Manrope-Bold.eot');
    src: url('./fonts/Manrope-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Manrope-Bold.woff2') format('woff2'),
    url('./fonts/Manrope-Bold.woff') format('woff'),
    url('./fonts/Manrope-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('./fonts/Manrope-ExtraLight.eot');
    src: url('./fonts/Manrope-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Manrope-ExtraLight.woff2') format('woff2'),
    url('./fonts/Manrope-ExtraLight.woff') format('woff'),
    url('./fonts/Manrope-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('./fonts/Manrope-Light.eot');
    src: url('./fonts/Manrope-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Manrope-Light.woff2') format('woff2'),
    url('./fonts/Manrope-Light.woff') format('woff'),
    url('./fonts/Manrope-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('./fonts/Manrope-Regular.eot');
    src: url('./fonts/Manrope-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Manrope-Regular.woff2') format('woff2'),
    url('./fonts/Manrope-Regular.woff') format('woff'),
    url('./fonts/Manrope-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Manrope';
    src: url('./fonts/Manrope-SemiBold.eot');
    src: url('./fonts/Manrope-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Manrope-SemiBold.woff2') format('woff2'),
    url('./fonts/Manrope-SemiBold.woff') format('woff'),
    url('./fonts/Manrope-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
/**endfonts**/
html,body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', serif;
    font-style: normal;
}
html {
    background-image: url('./images/wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 0;
}
body::-webkit-scrollbar {  display: none;}
body {-ms-overflow-style: none;}

.hat {
    background-color: #003F73;
    height: 5vh;
}
.hat__inner {
    height: 100%;
    width: 65.1%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 2vh;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}

.header{
    margin-bottom: 0.5vh;
}
.header__inner {
    width: 65.1%;
    margin: 0 auto;
}

.header__heading {
    color: #fff;
    font-size: 1.5vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.header__buttons {
    display: flex;
    margin-bottom: 1vh;
}
.header__button {
    width: 17.5%;
    font-size: 1.75vh;
    background-color: #005FAD;
    color: #fff;
    margin-right: 1%;
    position: relative;
    border: none;
    text-align: left;
    cursor: pointer;
    padding-left: 1%;
    border-radius: 1.25vh;
    line-height: 2vh;
    padding-top: 0.75vh;
    padding-bottom: 0.75vh;
    box-sizing: border-box;
}
.header__button img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    width: 7%;
}

.header__search {

}
.header__search input {
    width: 100%;
    height: 4vh;
    border-radius: 3vh;
    border: none;
    outline: none;
    text-align: center;
    color: #0079C2;
}




























.grid-stack {
    width: 50%;
    border: 1px solid red;
    margin: 0 auto;
}
.grid-stack-item {
    border: 1px solid orange;
    margin: 15px;
    height: 0;
    padding-top: 50%;
}